body {
    .sui-instr-dropdown{
        &.sui-dropdown-wrapper {
            display: inline-block;
            max-width: max-content;
            position: relative;
        }

        &.smdui-dropdown-item{
            min-width: 100%;
            border-radius: 0;
            margin: 0;
            
        }

        &.sui-dropdown-content{
            display: none;
            position: relative;
            border-radius: 3px;

            &.sui-dropdown-content-opened{
                display: block;
                z-index: 99999;
                position: absolute;
                min-width: -webkit-fill-available;
                width: max-content;
                border-radius: 5px;
            }
        }
    }
}
