

input{
    width:140px;
    border-style: solid;
    border-radius: 5px;
    border-width: thin;
    border-color: lightgray;
    padding: 5px;
}
input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
    border:none;
}

input[type=date] {
    border-style: solid;
    border-radius: 5px;
    border-width: thin;
    border-color: lightgray;
    padding: 5px;
    width:140px;
}
#installationSize {
    width:140px;
    border-style: solid;
    border-radius: 5px;
    border-width: thin;
    border-color: lightgray;
    padding: 5px;
}

input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3.4px;
    cursor: pointer;
    /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
    background: 	#D3D3D3;
    border-radius: 1.3px;
    /*border: 0.2px solid #010101;*/
}
input[type=range]::-webkit-slider-thumb {
    /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
    /*border: 1px solid #000000;*/
    height: 16px;
    width: 16px;
    border-radius: 10px;
    background: #009688;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #009688;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
    background: #009688;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
    /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #009688;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
}
input[type=range]::-ms-fill-upper {
    background: #009688;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
}
input[type=range]::-ms-thumb {
    /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #009688;
}
input[type=range]:focus::-ms-fill-upper {
    background: #009688;
}
.solyc-uiobj-label{
    /*color:rgba(0, 0, 0, 0.87);*/
}

#outputDeg{
    right:10%;
    position: absolute;
}

#house_0{
    position:absolute;
    bottom:170px
}

#roof_0{
    display:block;
    width:249px;
    bottom:267px;
    position:absolute;
}

#roof_10 {
    display:none;
    width:256px;
}
#roof_12 {
    display:none;
    width:256px;
}
#roof_15 {
    display:none;
    width:256px;
}
#roof_20 {
    display:none;
    width:256px;
}

#compasImg{
    position: absolute;
    width:429px;
    margin:50px;
}
#outputDeg{
    margin:10px;
    /*box-shadow: #009688 5px 5px 25px;*/
}

@media only screen and (max-width: 400px){

    #house_0{
        width: 130px;
        /*position: absolute;*/
        bottom: 306px;
    }

    #roof_0{
        display:block;
        width:130px;
        /*position: absolute;*/
        bottom: 357px;
    }

    #roof_10 {
        display:none;
        width:136px;
    }
    #roof_12 {
        display:none;
        width:136px;
    }
    #roof_15 {
        display:none;
        width:136px;
    }
    #roof_20 {
        display:none;
        width:136px;
    }

    #compasImg{
        bottom:212px;
        position: absolute;
        width:229px;
        margin:50px;
    }
    #outputDeg{
        width:100%;
        position: inherit;
        /*bottom:192px;*/

    }
}

#totalYieldOutput{
  
    /* border: thin; */
    border-radius: 3px;
    width: fit-content;
    padding: 7px;
    margin:4px;
}
#totalYearYieldOutput{
   
    /* border: thin; */
    border-radius: 3px;
    width: fit-content;
    padding: 7px;
    margin:4px;
}
#totalMonthlyYieldOutput{
    
    /* border: thin; */
    border-radius: 3px;
    width: fit-content;
    padding: 7px;
    margin:4px;
}

#totalYieldWrapper{
    display: flex;
    justify-content: space-evenly;
}

