/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 19, 2018, 5:44:41 PM
    Author     : platar86
*/
.tooltip {
    position: relative;
    /*                display: inline-block;
                    border-bottom: 1px dotted black;*/
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 220px;
    background-color: #ececec;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.uixss-dynamicHiddenTab{
    display: none !important;
}

.devSettControl {
    border: #e1e1e1;
    border-bottom-style: solid;
    border-bottom-width: 0.5px; }

.devSettControl > .dscLabel {
    text-align: right;
    float: right;
    margin-top: 10px;
    padding-right: 21px; }

.dscSeparatorText {
    padding-top: 44px;
    padding-bottom: 10px;
    display: block;
    font-size: medium;
    font-style: italic;
    color: #5a5a5a;
    margin-bottom: 5px;
    border-bottom: solid;
    border-width: 0.2px;
    text-align: right; }

.devSettControl > .dscValue {
    display: inline-block;
    float: right;
    padding-right: 20px;
    margin-top: 6px; }

.devSettControl > .ui-inputswitch {
    padding-right: 0px !important;
    margin-right: 10px;
    margin-top: 12px; }

.devSettControl > .dscValue > .ui-inputtext {
    width: 150px;
    text-align: right; }

.devSettControl > .dscExec {
    display: inline-block;
    float: right;
    width: 45px;
    margin-top: 2px; }

.devSettControl > .dscInfo {
    display: inline-block;
    width: 80%;
    font-size: smaller;
    font-style: italic;
    color: #8c8c8c;
    top: 1px;
    text-align: right;
    margin-left: -59px;
    margin-top: 0px;
    margin-bottom: 10px; }

@media (max-width: 860px) {
    .actDataPanelCard {
        min-width: 100% !important;
        width: 100%; }

    .ui-tabs-panel {
        padding-left: 0px;
        padding-right: 0px; }

    .devSettControl {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -moz-box-align: start;
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
        align-items: flex-end; }

    .devSettControl > .dscLabel {
        order: 1;
        margin-right: 15%;
        margin-bottom: -7px; }

    .devSettControl > .dscValue {
        order: 3;
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        margin-top: -22px;
        width: 80%;
        text-align: right;
        margin-right: 15%; }

    .devSettControl > .dscValue > .ui-inputfield {
        width: 80%;
        text-align: right; }

    .devSettControl > .dscExec {
        order: 2; }

    .devSettControl > .dscInfo {
        order: 4;
        padding-bottom: 18px;
        text-align: right;
        margin-right: 6%; } 
}

@media (max-width: 640px) {
    .ui-tabs-panels .ui-tabs-panel{
        padding: 6px 0px !important;
    }
}
.devSettControl > .dscInfo {
    display: inline-block;
    width: 100%;
    font-size: smaller;
    font-style: italic;
    color: #8c8c8c;
    top: 1px; }

.parControl {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 500px;
    padding-bottom: 10px;
    margin: auto; }

.parControl hr {
    margin-top: 0px;
    opacity: 0.4; }

.parControl .ctrlLabel {
    display: block;
    width: 40%;
    float: left;
    padding-top: 10px;
    top: 5px;
    position: relative; }

.parControl .ctrlValue.ui-spinner {
    padding-top: 6px;
    top: 4px; }

.parControl .ctrlValue.ui-inputnumber {
    padding-top: 11px; }

.parControl .ctrlValue.ui-selectonemenu {
    margin-top: 10px; }

.parControl .ctrlValue {
    display: block;
    width: auto;
    float: right; }

.parControl .ctrlExec {
    display: block;
    float: right;
    margin-left: 16px; }

.parControl span.ctrlInfo {
    display: inline-block;
    width: 100%;
    font-size: smaller;
    font-style: italic;
    color: #8c8c8c;
    position: relative;
    top: 1px; }

