/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.

 
    Created on : Jun 7, 2018, 10:09:56 AM
    Author     : platar86


.devMenuPanelOff{
    height: 0px;
    opacity: 0;
    padding: 0px
}
.devMenuPanelOn{
    height: auto;
    opacity: 0;
    padding: 0px
}
.devMenuButtonOn{
    float: right;
    left: 18px !important;
}
.devMenuButtonOff{
    float: left;
    left: 0px;
}
.devMenuButton{
    color: #212121;
    display: inline-block;
    vertical-align: middle;
    height: 23px;
    margin-right: 10px;
    position: relative;
    left: 0px;
    top: -18px;
    background-color: #ffeb3b;
    -moz-border-radius: 50%;
     -webkit-border-radius: 50%; 
    border-radius: 50%;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
     -webkit-transition: all 0.3s; 
    transition: all 0.3s;
     -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16); 
    -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
}
.devMenuButton:hover{
    font-size: xx-large !important;
    top: -22px;
}
.devMenuButtonPanel{
    width: 100%;
    height: 10px;
}
.devMenuPanel {

    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
     -webkit-transition: all 0.3s; 
    transition: all 0.3s;
    transition-delay: 0.3s;
}
@media (min-width: 641px) {
        .devMenuPanel {
            max-width: 225px;
        }

}
.devDashboard{
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
     -webkit-transition: all 0.3s; 
    transition: all 0.3s;

}
.deviceTableSelector{
    position: relative;
}
.deviceTableSelector .devMenuDevSerial{
    text-align: center;
    width: 100%;
}
.deviceTableSelector .devMenuDevStat{
    text-align: right;
    width: 100%;
}
.deviceTableSelector .devMenuDevIcon{
    position: absolute;
    opacity: 0.8;
}
.deviceTableSelector :hover{
    background-color: #e8e8e8;
}
.selectedSubDev{
    background-color: rgb(255, 255, 160) !important;
}
.selectedSubDev :hover{
    background-color: rgb(255, 255, 0) !important;
}

.commentText{
    font-style: italic;
    color: #8a8a8a;
    font-size: small;
}*/